.container-filtros {
    display: grid;
    grid-template-columns: 0.5fr 0.6fr 0.6fr 0.9fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 6px;
    grid-auto-flow: row;
    grid-template-areas: ". . . . . ";
}

.filtros {
    display: flex;
    flex-direction: column;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nz-input-group {
    margin-bottom: 5px;
}

nz-select {
    width: 100%;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 15%;
}

th {
    font-size: 10.5px;
}

td {
    font-size: 10px;
    text-align: end;
}

.container-grafico {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 12px;
    grid-auto-flow: row;
    grid-template-areas: ". .";
}

.container3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0fr 0fr;
    gap: 5px 12px;
    grid-auto-flow: row;
    grid-template-areas: "." "." ".";
}

.containerRow3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas: ". . .";
}

.card-header {
    background-color: #13994b;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}

p {
    margin: 0px;
    padding: 0px;
}

.valores {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}