<div class="container-filtros">
    <div class="filtros">
        <h6>Precios </h6>
        <nz-input-group nzAddOnBefore="kWh" nzSize="small">
            <input type="text" nz-input [(ngModel)]="preciokwh" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="kW" nzSize="small">
            <input type="text" nz-input [(ngModel)]="preciokw" />
        </nz-input-group>
    </div>
    <div class="filtros">
        <h6>Cargos </h6>
        <nz-input-group nzAddOnBefore="Alumbrado" nzSize="small">
            <input type="text" nz-input [(ngModel)]="alumbrado" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Otros" nzSize="small">
            <input type="text" nz-input [(ngModel)]="otro" />
        </nz-input-group>
    </div>
    <div class="filtros">
        <h6>Cambio dólar </h6>
        <nz-input-group nzAddOnBefore="BCH" nzSize="small">
            <input type="text" nz-input [(ngModel)]="bch" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Gildan" nzSize="small">
            <input type="text" nz-input [(ngModel)]="gildan" />
        </nz-input-group>
    </div>
    <div class="filtros">
        <h6>Facturar a</h6>
        <nz-input-group nzAddOnBefore="Planta" nzSize="small">
            <nz-select [(ngModel)]="plantas" nzSize="small" (ngModelChange)="changeMedidores($event)" nzMode="multiple" nzPlaceHolder="Seleccione...">
                <nz-option *ngFor="let planta of listPlantas" [nzLabel]="planta.codigo + ' - ' + planta.nombre" [nzValue]="planta.id"></nz-option>
            </nz-select>
        </nz-input-group>

        <nz-input-group nzAddOnBefore="Medidor" nzSize="small">
            <nz-select [(ngModel)]="medidores" nzAllowClear nzSize="small" nzMode="multiple" nzPlaceHolder="Seleccione..." nzShowSearch>
                <nz-option-group *ngFor="let op of medidoresPlanta" [nzLabel]="op.codigo + ' - ' + op.nombre">
                    <nz-option *ngFor="let med of op.detalleMedidors" [nzValue]="med.id" [nzLabel]="med.medidor.codigo">
                    </nz-option>
                </nz-option-group>
            </nz-select>
        </nz-input-group>
    </div>
    <div class="filtros">
        <nz-input-group nzAddOnBefore="Rango tiempo" nzSize="small">
            <nz-select nzSize="small" [(ngModel)]="tiempo">
                <nz-option nzLabel="Hoy" nzValue="1"></nz-option>
                <nz-option nzLabel="Ayer" nzValue="2"></nz-option>
                <nz-option nzLabel="Desde ayer" nzValue="3"></nz-option>
                <nz-option nzLabel="Semana hasta la fecha" nzValue="4"></nz-option>
                <nz-option nzLabel="Año hasta la fecha" nzValue="5"></nz-option>
                <nz-option nzLabel="Ultima semana" nzValue="6"></nz-option>
                <nz-option nzLabel="Ultimas 2 semanas" nzValue="7"></nz-option>
                <nz-option nzLabel="Este mes" nzValue="8"></nz-option>
                <nz-option nzLabel="Ultimo mes" nzValue="9"></nz-option>
                <nz-option nzLabel="Ultimo año" nzValue="10"></nz-option>
            </nz-select>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Fecha 1" nzSize="small">
            <nz-date-picker nzFormat="yyyy-MM-dd HH:mm:ss" nzShowTime nzSize="small" [(ngModel)]="fecha1">
            </nz-date-picker>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Fecha 2" nzSize="small">
            <nz-date-picker nzFormat="yyyy-MM-dd HH:mm:ss" nzShowTime nzSize="small" [(ngModel)]="fecha2">
            </nz-date-picker>
        </nz-input-group>
    </div>
</div>
<div class="botones">
    <button nz-button nzType="primary" nzSize="small" (click)="mostrar()" style="margin-bottom: 5px; background-color: #009bca; border-color: #009bca; margin: 5px;">
        <i nz-icon nzType="search"></i>
        Mostrar
    </button>
    <button nz-button nzType="primary" nzSize="small" (click)="excel()" style="margin-bottom: 5px; background-color: #439d16; border-color: #439d16; margin: 5px;">
        <i nz-icon nzType="file-excel"></i>
        Excel
    </button>
    <button nz-button nzType="primary" nzSize="small" (click)="imprimir()" style="margin-bottom: 5px; background-color: #c41a1a; border-color: #c41a1a; margin: 5px;">
        <i nz-icon nzType="printer"></i>
        Imprimir
    </button>
</div>
<div id="content">
    <div class="titulo">
        <img src="assets/Gildan_logo.png" class="logo">
        <h5> FACTURACIÓN </h5>
    </div>

    <div *ngIf="visible">
        <p class="titulo-separador"> DATOS DEL CLIENTE </p>

        <div class="container-datos">
            <div class="container-info">
                <div>
                    <p class="nombre-dato"> NOMBRE: </p>
                    <p class="nombre-dato"> NÚMERO DE COMPAÑIA: </p>
                    <p class="nombre-dato"> NÚMERO DE FACTURA: </p>

                </div>
                <div>
                    <p> <span *ngFor="let pl of plantasOP"> {{ pl.codigo }} </span> </p>
                    <p> 54 </p>
                    <p> 00000 </p>
                </div>
            </div>
            <div class="container-info">
                <div>
                    <p class="nombre-dato"> FECHA EMISIÓN: </p>
                    <p class="nombre-dato"> PERIODO: </p>
                    <p class="nombre-dato"> DÍAS DE FACTURACÓN: </p>
                </div>
                <div>
                    <p> {{ fechaDia | date: 'yyyy-MM-dd HH:mm a'}} </p>
                    <p> {{ fecha1 | date: 'yyyy-MM-dd HH:mm a'}} al {{ fecha2 | date: 'yyyy-MM-dd HH:mm a'}}</p>
                    <p> {{ diasPeriodo }} </p>
                </div>
            </div>
            <div>
                <div style="display: flex; flex-direction: row; justify-content: space-around; background-color: #e2e2e2;">
                    <p class="titulos-datos"> CONSUMO (kWh) </p>
                    <p class="titulos-datos"> MES A FACTURAR </p>
                    <p class="titulos-datos"> TOTAL A PAGAR (L.) </p>
                </div>
                <div class="container-consumo">
                    <div style="background-color: #ffcfcf; border-radius: 7%; height:55px; width: 83%; margin: auto; margin-top: 9px;">
                        <p style="font-size: 15px;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        align-items: center;
                        color: #af0606;"> {{totalConsumo + calculoConsumo[0]?.perdidas| number:'1.2-2':'en_US'}} </p>
                    </div>
                    <div style="background-color: #ffffc8; border-radius: 7%; height:55px;  width: 83%; margin: auto; margin-top: 9px;">
                        <p *ngIf="diasPeriodo < 30" style="font-size: 15px;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        align-items: center;
                        color: #fa9314;"> {{ fecha2 | date:'MMMM' }} </p>
                        <p *ngIf="diasPeriodo > 30" style="font-size: 15px;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            height: 100%;
                            align-items: center;
                            color: #fa9314;"> {{ fecha1 | date:'MMMM' }} a {{ fecha2 | date:'MMMM' }}
                        </p>
                    </div>
                    <div style="background-color: #dfffdf; border-radius: 7% ; height:55px;  width: 83%; margin: auto; margin-top: 9px;">
                        <p style="font-size: 15px;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        align-items: center;
                        color: #007900;">Lps. {{totalApagar | number:'1.2-2':'en_US'}} </p>
                    </div>
                </div>
            </div>
            <div>
                <p class="titulos-datos"> DATOS TÉCNICOS </p>
                <div class="container-info">
                    <div>
                        <p class="nombre-dato"> TARIFA: </p>
                        <p class="nombre-dato"> TIPO DE CONSUMO: </p>
                        <p class="nombre-dato"> OFICINA COMERCIAL: </p>
                    </div>
                    <div>
                        <p> 401 </p>
                        <p> INDUSTRIAL </p>
                        <p> RIO NANCE </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p class="titulo-separador"> DETALLE DE CONSUMO DE ENERGÍA </p>
        <div>
            <table class="table table-sm">
                <tr style="text-align: center;">
                    <th></th>
                    <th>LECTURA ACTUAL</th>
                    <th>LECTURA ANTERIOR</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr style="text-align: center;">
                    <th>MEDIDOR</th>
                    <th> {{ fecha2 | date: 'yyyy-MM-dd HH:mm a'}} </th>
                    <th> {{ fecha1 | date: 'yyyy-MM-dd HH:mm a'}} </th>
                    <th>DIFERENCIA</th>
                    <th>CONSUMO</th>
                </tr>
                <tbody>
                    <tr *ngFor="let detalle of detalleConsumo">
                        <td style="width: 30%;"> {{detalle.medidor}} </td>
                        <td style="text-align: right;"> {{detalle.lecturaActual | number:'1.2-2':'en_US'}} </td>
                        <td style="text-align: right;"> {{detalle.lecturaAnterior | number:'1.2-2':'en_US'}} </td>
                        <td style="text-align: right;"> {{detalle.diferencia | number:'1.2-2':'en_US'}} </td>
                        <td style="text-align: right; padding-right: 20px;"> {{detalle.consumo | number:'1.2-2':'en_US'}} kWh</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="background-color: #e2e2e2; text-align: right; font-weight: bold;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>TOTAL ENERGIA ACTIVA </td>
                        <td style="text-align: right; padding-right: 20px;"> {{totalConsumo | number:'1.2-2':'en_US'}} kWh
                        </td>
                    </tr>
                    <tr style="background-color: #e2e2e2; text-align: right; font-weight: bold;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> DEMANDA MÁXIMA PLANTA </td>
                        <td style="text-align: right; padding-right: 20px;"> 0.00 kWh</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <p class="titulo-separador"> CÁLCULO DE CONSUMO DE ENERGÍA </p>
        <br>
        <div class="container-grafico">
            <div style="height: 100%; display: flex; align-items: center;">
                <table class="table table-sm">
                    <tr style="height: 50px;">
                        <th>CARGO</th>
                        <th style="text-align: right;"> RATE (L.) </th>
                        <th style="text-align: right;">CONSUMO (KwH)</th>
                        <th style="text-align: right;">TOTAL (L.)</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>ENERGÍA ACTIVA</td>
                            <td></td>
                            <td style="text-align: right;">{{totalConsumo | number:'1.2-2':'en_US'}} </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PÉRDIDAS</td>
                            <td></td>
                            <td style="text-align: right;"> {{calculoConsumo[0]?.perdidas | number:'1.2-2':'en_US'}} </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>COSTO ENERGIA</td>
                            <td style="text-align: right;">{{calculoConsumo[0]?.rateConsumoEnergia | number:'1.4-4':'en_US'}}</td>
                            <td></td>
                            <td style="text-align: right;">{{calculoConsumo[0]?.rateConsumoEnergia * totalConsumo | number:'1.2-2':'en_US'}}</td>
                        </tr>
                        <tr>
                            <td>DEMANDA</td>
                            <td style="text-align: right;">{{calculoConsumo[0]?.rateDemanda | number:'1.4-4':'en_US'}}</td>
                            <td></td>
                            <td style="text-align: right;">{{calculoConsumo[0]?.totalDemanda | number:'1.2-2':'en_US'}}</td>
                        </tr>
                        <tr>
                            <td>OTROS CARGOS/CRÉDITOS</td>
                            <td style="text-align: right;">{{calculoConsumo[0]?.rateOtrosCargos | number:'1.4-4':'en_US'}}</td>
                            <td></td>
                            <td style="text-align: right;">{{calculoConsumo[0]?.totalOtrosCargos | number:'1.2-2':'en_US'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align: right;">TOTAL A PAGAR</th>
                            <th></th>
                            <th style="text-align: right;"> {{ totalConsumo + calculoConsumo[0]?.perdidas | number:'1.2-2':'en_US'}} kWh</th>
                            <th style="text-align: right;"> L. {{ totalApagar | number:'1.2-2':'en_US'}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div style="display: block;
            width: 555px;
            height: 313px;">
                <canvas baseChart [datasets]="ChartData" [labels]="ChartLabels" [options]="ChartOptions" [legend]="ChartLegend" [chartType]="ChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(187,218,255,0.8)" size="medium" color="#0061aa" type="triangle-skew-spin" [fullScreen]="true">
    <p style="color: white"> Preparando... </p>
</ngx-spinner>