<div class="container-filtros">
    <div class="filtros">
        <h6>Precios </h6>
        <nz-input-group nzAddOnBefore="kWh" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="kW" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
    </div>
    <div class="filtros">
        <h6>Cargos </h6>
        <nz-input-group nzAddOnBefore="Alumbrado" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Otros" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
    </div>
    <div class="filtros">
        <h6>Cambio dólar </h6>
        <nz-input-group nzAddOnBefore="BCH" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Gildan" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
    </div>
    <div class="filtros">
        <h6>Facturar a</h6>
        <nz-input-group nzAddOnBefore="Planta" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Medidor" nzSize="small">
            <input type="text" nz-input [(ngModel)]="inputValue" />
        </nz-input-group>
    </div>
    <div class="filtros">
        <nz-input-group nzAddOnBefore="Rango tiempo" nzSize="small">
            <nz-select nzSize="small">
                <nz-option [nzLabel]="1" [nzValue]="1"></nz-option>
                <nz-option [nzLabel]="2" [nzValue]="1"></nz-option>
                <nz-option [nzLabel]="3" [nzValue]="1"></nz-option>
                <nz-option [nzLabel]="4" [nzValue]="1"></nz-option>
            </nz-select>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Fecha 1" nzSize="small">
            <nz-date-picker nzSize="small"></nz-date-picker>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Fecha 2" nzSize="small">
            <nz-date-picker nzSize="small"></nz-date-picker>
        </nz-input-group>
    </div>
    <div class="filtros">
        <button nz-button nzType="primary" nzSize="small" style="margin-bottom: 5px; background-color: #009bca; border-color: #009bca;">
            <i nz-icon nzType="search"></i>
            Mostrar
          </button>
        <button nz-button nzType="primary" nzSize="small" style="margin-bottom: 5px; background-color: #439d16; border-color: #439d16;">
            <i nz-icon nzType="file-excel"></i>
            Excel
          </button>
        <button nz-button nzType="primary" nzSize="small" style="margin-bottom: 5px; background-color: #c41a1a; border-color: #c41a1a;">
            <i nz-icon nzType="printer"></i>
            Imprimir
          </button>
    </div>
</div>
<div>
    <div class="titulo">
        <img src="assets/Gildan-Logo.svg" class="logo">
        <h5> FACTURACIÓN </h5>
    </div>

    <p class="titulo-separador"> DATOS DEL CLIENTE </p>

    <div class="container-datos">
        <div class="container-info">
            <div>
                <p class="nombre-dato"> NOMBRE: </p>
                <p class="nombre-dato"> NÚMERO DE COMPAÑIA: </p>
                <p class="nombre-dato"> NÚMERO DE FACTURA: </p>

            </div>
            <div>
                <p> RN6-MAYAN TEXTILES </p>
                <p> 54 </p>
                <p> 00000 </p>
            </div>
        </div>
        <div class="container-info">
            <div>
                <p class="nombre-dato"> FECHA EMISIÓN: </p>
                <p class="nombre-dato"> PERIODO: </p>
                <p class="nombre-dato"> DÍAS DE FACTURACÓN: </p>
            </div>
            <div>
                <p> 2021-07-01 10:00 AM </p>
                <p> 2021-07-01 10:00 AM al 2021-07-01 11:00 AM </p>
                <p> 30 </p>
            </div>
        </div>
        <div>
            <div style="display: flex; flex-direction: row; justify-content: space-around; background-color: #f2f2f2;">
                <p class="titulos-datos"> CONSUMO (kWh) </p>
                <p class="titulos-datos"> MES A FACTURAR </p>
                <p class="titulos-datos"> TOTAL A PAGAR (L.) </p>
            </div>
            <div class="container-consumo">
                <div style="background-color: #ffcfcf; border-radius: 7%; height:55px;">
                    <span>-</span>
                </div>
                <div style="background-color: #ffffc8; border-radius: 7%; height:55px;">
                    <span>-</span>
                </div>
                <div style="background-color: #dfffdf; border-radius: 7% ; height:55px;">
                    <span>-</span>
                </div>
            </div>
        </div>
        <div>
            <p class="titulos-datos"> DATOS TÉCNICOS </p>
            <div class="container-info">
                <div>
                    <p class="nombre-dato"> TARIFA: </p>
                    <p class="nombre-dato"> TIPO DE CONSUMO: </p>
                    <p class="nombre-dato"> OFICINA COMERCIAL: </p>
                </div>
                <div>
                    <p> 401 </p>
                    <p> INDUSTRIAL </p>
                    <p> RIO NANCE </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p class="titulo-separador"> DETALLE DE CONSUMO DE ENERGÍA </p>
    <div>
        <div>

        </div>
        <table class="table table-sm">
            <tr>
                <th></th>
                <th>LECTURA ACTUAL</th>
                <th>LECTURA ANTERIOR</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>MEDIDOR</th>
                <th>2021-07-01 10:00 am</th>
                <th>2020-07-01 11:00 am</th>
                <th>DIFERENCIA</th>
                <th>CONSUMO</th>
            </tr>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2021-07-01</td>
                    <td>2021-07-01</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2021-07-01</td>
                    <td>2021-07-01</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL ENERGIA ACTIVA </td>
                    <td> 0.00 kWh</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> DEMANDA MÁXIMA PLANTA </td>
                    <td> 0.00 kWh</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <p class="titulo-separador"> CÁLCULO DE CONSUMO DE ENERGÍA </p>
    <br>
    <div class="container-grafico">
        <div>
            <table class="table table-sm">
                <tr>
                    <th>CARGO</th>
                    <th> RATE (L.) </th>
                    <th>CONSUMO (KwH)</th>
                    <th>TOTAL (L.)</th>
                </tr>
                <tbody>
                    <tr>
                        <td>ENERGÍA ACTIVA</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PERDIDAS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>COSTO ENERGIA</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DEMANDA</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OTROS CARGOS/CRÉDITOS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>TOTAL A PAGAR</th>
                        <th></th>
                        <th>kWh</th>
                        <th>0.00 L.</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div style="display: block;
        width: 555px;
        height: 313px;">
            <canvas baseChart [datasets]="ChartData" [labels]="ChartLabels" [options]="ChartOptions" [legend]="ChartLegend" [chartType]="ChartType">
              </canvas>
        </div>
    </div>

</div>