<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a target="_blank">
                <img src="assets/logoGildan.png">
                <img style="display: inline-block; height: 40px; width: 150px; margin: 0 0 0 10px; vertical-align: middle;" src="assets/nombreGildan.png">
                <!-- <h1> GILDAN </h1> -->
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <a [routerLink]="['/inicio']">
                    <i nz-icon nzType="home"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <a [routerLink]="['/factura']">
                    <i nz-icon nzType="dashboard"></i>
                    <span>Factura</span>
                </a>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <a [routerLink]="['/resumen']">
                    <i nz-icon nzType="file-text"></i>
                    <span>Resumen Facturacion</span>
                </a>
            </li>
            <li nz-submenu nzTitle="Mantenimiento" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/servidor']" routerLinkActive="router-link-active" >Servidores</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/plantas']" routerLinkActive="router-link-active" >Plantas</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/medidores']" routerLinkActive="router-link-active" >Medidores</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/jerarquia']" routerLinkActive="router-link-active" >Jerarquias</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/consumible']" routerLinkActive="router-link-active" >Consumibles</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/centro-costos']" routerLinkActive="router-link-active" >Centro de Costos</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/cuentas']" routerLinkActive="router-link-active" >Cuentas</a>
                    </li>
                    <!-- <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/medidor']" routerLinkActive="router-link-active" >Relacion</a>
                    </li> -->
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/rollOver']" routerLinkActive="router-link-active" >RollOver</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/lecturas']" routerLinkActive="router-link-active" >Lecturas</a>
                    </li>
                </ul>
            </li>
            <!--  <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <a [routerLink]="['/transformadores']">
                    <i nz-icon nzType="api"></i>
                    <span>Transformadores</span>
                </a>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <a [routerLink]="['/consumidores']">
                    <i nz-icon nzType="team"></i>
                    <span>Consumidores</span>
                </a>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <i nz-icon nzType="solution"></i>
                <span>Facturacion</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <i nz-icon nzType="bar-chart"></i>
                <span>Reportes</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <i nz-icon nzType="tool"></i>
                <span>Configuraciones</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <i nz-icon nzType="question-circle"></i>
                <span>Ayuda</span>
            </li> -->
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                  <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                  <span>
                      <label style="margin-left: 26%;">SISTEMA DE FACTURACIÓN ENERGÉTICA</label>
                  </span>
                </span>

            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<div class="footer">
    <label style="color: white;">© GILDAN <i nz-icon nzType="api" nzTheme="outline"></i> DEPARTAMENTO DE ENERGÍA REGIONAL</label>
</div>