<nz-layout>
    <nz-header>
        <div nz-row>
            <div nz-col nzSpan="20">
                <h1> Servidores </h1>
            </div>
            <div nz-col nzSpan="4">
                <button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Nuevo Servidor</button>
            </div>
        </div>
    </nz-header>
    <nz-content>
        <div class="tabla">
            <nz-table #basicTable [nzData]="listOfData" nzShowSizeChanger nzBordered [nzPageSize]="10">
                <thead>
                  <tr>
                    <th style="text-align: center;">
                        Acciones
                        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                            <i nz-icon nzType="search"></i>
                        </nz-filter-trigger>
                    </th>
                    <th
                        *ngFor="let column of listOfColumns"
                        [nzSortOrder]="column.sortOrder"
                        [nzSortFn]="column.sortFn"
                        [nzSortDirections]="column.sortDirections"
                    >
                        {{ column.name }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>
                        <div nz-row style="display: flex; justify-content: center;">
                            <div nz-col nzSpan="8">
                                <button nz-button class="botonEdit" nzType="primary" [nzSize]="'default'" title="Editar">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                </button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button nz-button nzType="primary" [nzSize]="'default'" title="Eliminar" nzDanger
                                        nz-popconfirm nzPopconfirmTitle="¿Está seguro de borrar el registro?" nzPopconfirmPlacement="bottom" 
                                        (nzOnConfirm)="confirmDeleteItem()" (nzOnCancel)="cancelDeleteItem()" nzCancelText="No" nzOkText="Si">
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.baseDatos }}</td>
                    <td>
                        <div style="display: flex; justify-content: center;">
                            <div *ngIf="data.estado; else estadoFalse">
                                <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'" style="font-size: 22px;"></i>
                            </div>
                            <ng-template #estadoFalse>
                                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#ff4d4f'" style="font-size: 22px;"></i>
                            </ng-template>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </nz-content>
</nz-layout>

<!-- Modal Formulario Servidor -->


<!-- Dropdown-Menu para buscar/filtrar por texto -->
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Buscar.." [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Buscar
        </button>
        <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
      </div>
    </div>
  </nz-dropdown-menu>