nz-select {
    width: 95%;
}

nz-range-picker {
    width: 95%;
}


.margenesFiltros {
    margin-bottom: 20px;
}

.margenesBotones {
    margin-right: 10px;
    margin-bottom: 20px;
}

.centrarObjetos {
    display: flex;
    justify-content: center;
}

.logo {
    width: 15%;
}

.card{
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    border-radius: 5px 5px 5px 5px;  
}

.card-header{
    border-radius: 5px 5px 0px 0px;
    background: #aad6fd;
}

.titleHeader {
    
    padding-left: 15px;
    
}

.card-body{
    border-radius: 0px 0px 5px 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.card-body-Grafico{
    border-radius: 0px 0px 5px 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}


table {
    width: 100%;
 }

table tr {
    background-color: white;
}

.headerTable{
    /* border-bottom: 1px solid #000; */
    background-color: #e3e3e3;
}

.tdLine{
    border-bottom: 1px solid #e3e3e3;
}

 th {
    /*width: 25%;*/
    font-size: 16px;
 }

 td {
     font-size: 14px;
     text-align: end;
 }

 tr:hover td { background: #eee; color: black; }

 /*#e2e3e5*/
	